<% if @delivery_times.any? %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="col-lg-2"><%= Modality.human_attribute_name(:name) %></th>
        <th class="col-lg-2"><%= DeliveryTime.human_attribute_name(:distance_between) %></th>
        <th class="col-lg-2"><%= DeliveryTime.human_attribute_name(:hours) %></th>
        <% if current_user.admin? %>
          <th class="col-lg-2">Editar</th>
        <% end %>
      </tr>
    </thead>
    <% @delivery_times.each do |time| %>
      <tbody>
          <tr>
            <td><%= link_to(time.modality.name, modality_path(time.modality.id)) %></td>
            <td>Até <%= time.distance_between %> Km</td>
            <td><%= time.hours %></td>
          </tr>
      </tbody>
      <% end %>
  </table>
<div>
<% else %>
    <span> 'Não existem prazos cadastrados' </span>
<% end %>