<h2><%=Order.model_name.human %></h2>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th><%= Order.human_attribute_name(:code) %></th>
            <th><%= Order.human_attribute_name(:sender_name) %></th>
            <th><%= Order.human_attribute_name(:receiver_name) %></th>
            <th><%= Order.human_attribute_name(:distance_between) %></th>
            <th><%= Order.human_attribute_name(:product_code) %></th>
            <th><%= Order.human_attribute_name(:status) %></th>
        </tr>
    </thead>
    <% @orders.each do |order| %>
        <tbody>
            <tr>
                <td><%= link_to(order.code, order_path(order.id)) %></td>
                <td><%= order.sender_name %></td>
                <td><%= order.receiver_name%></td>
                <td><%= order.distance_between %></td>
                <td><%= order.product_code %></td>
                <td><%= order.status %></td>
            </tr>
        </tbody>
    <% end %>
</table>
<% if user_signed_in? and current_user.admin? %>
      <%=link_to('Cadastrar OS',  new_order_path, class: "btn btn-success") %>
  <% end %>
<div>

