<h2><%=Order.model_name.human %></h2>

<%= link_to("Todas", orders_path) %> >
<%= link_to("Pendentes", orders_path(:status => 'pending')) %> >
<%= link_to("Iniciadas", orders_path(:status => 'on_going')) %> >
<%= link_to("Encerradas", orders_path(:status => 'closed')) %>

<% if @orders.any? %>
	<div class="table-responsive">
		<table class="table">
			<%= render 'index' %>
			<% @orders.each do |order| %>
				<tbody id="myTable">
					<tr>
						<td><%= link_to(order.code, order_path(order.id)) %></td>
						<td><%= order.sender_name %></td>
						<td><%= order.receiver_name%></td>
						<td><%= order.distance_between %></td>
						<td><%= order.product_code %></td>
						<td class="p-3 mb-2">
							<span class="badge <%= order.status == 'on_going' ? 'bg-success' : 'bg-secondary' %>"><%= I18n.t(order.status) %></span>
						</td>
					</tr>
				</tbody>
			<% end %>
		</table>
	<div>
<% else %>
    <span class="warning"> Não existem OS cadastradas </span>
<% end %>
<% if user_signed_in? and current_user.admin? %>
		<%=link_to('Cadastrar OS', new_order_path, class: "btn btn-success") %>
<% end %>
