<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="col-lg-2"><%= Modality.human_attribute_name(:name) %></th>
          <th class="col-lg-2"><%= PricesByWeight.human_attribute_name(:min_weight) %></th>
          <th class="col-lg-2"><%= PricesByWeight.human_attribute_name(:max_weight) %></th>
          <th class="col-lg-2"><%= PricesByWeight.human_attribute_name(:price) %></th>
          <% if current_user.admin? %>
          <th>Editar</th>
          <% end %>
        </tr>
      </thead>
      <% @prices_by_weights.each do |price| %>
        <tbody>
            <tr>
              <td><%= link_to(price.modality.name, modality_path(price.modality.id)) %></td>
              <td><%= price.min_weight %></td>
              <td><%= price.max_weight %></td>
              <td><%= price.price %></td>
              <% if current_user.admin? %>
                <td>
                  <%=link_to('Editar', edit_prices_by_weight_path(price.id), class: "btn btn-primary") %>
                </td>
              <% end %>
            </tr>
        </tbody>
      <% end %>
    </table>
  <div>