<div class= 'd-inline-flex'>

  <div>
    <h2><%=PricesByDistance.model_name.human %></h2>
    <% if @prices_by_distances.any? %>
      <div class="table-responsive">
        <%= render 'index_distance' %>
      </div>
    <% else %>
      <span> 'Não existem intervalos cadastrados para preço por distância' </span>
    <% end %>
    <% if user_signed_in? and current_user.admin? %>
      <%=link_to('Cadastrar Preço por distância',  new_prices_by_distance_path, class: "btn btn-primary") %>
    <% end %>
  </div>

  <div>
    <h2><%=PricesByWeight.model_name.human %></h2>
    <% if @prices_by_weights.any? %>
      <div class="table-responsive">
        <%= render 'index_weight' %>
      </div>
    <% else %>
      <span> 'Não existem intervalos cadastrados para preço por peso' </span>
    <% end %>
  </div>
  <% if user_signed_in? and current_user.admin? %>
      <%=link_to('Cadastrar Preço por peso',  new_prices_by_weight_path, class: "btn btn-success") %>
  <% end %>
</div>
