<!DOCTYPE html>
<html>
  <head>
    <title>NewShippingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="collapse navbar-collapse d-flex align-items-center flex-wrap" id="navbarNav">
          <%= link_to('Fretes Tatooine', root_path, class:"navbar-brand mb-0 h1") %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to('Veículos', vehicles_path, class:'nav-link') %>
              </li>
              <li class="nav-item active">
                <%= link_to('Preços', prices_path, class:'nav-link') %>
              </li>
              <li class="nav-item">
                <%=link_to('Modalidades de Transporte', modalities_path, class:'nav-link') %>
              </li>
              <li class="nav-item">
                <%= link_to('OS', root_path, class:'nav-link') %>
              </li>
            </ul>
        </div>
        <% if user_signed_in? %>
          <div class="d-flex align-items-center">
            <%= bootstrap_form_with(url: '/orders/search', method: :get, control_col: "col-sm-3") do |form| %>
            <%= form.text_field :search, hide_label: true, append: form.primary('Buscar'), placeholder: 'Buscar Pedido' %>
            <% end %>
          </div>
          <div class="navbar-nav nav-link d-flex justify-content-end">
            <%= current_user.description %>
          </div>
          <div class="navbar-nav d-flex justify-content-end">
            <%= button_to 'Sair', destroy_user_session_path, method: :delete, class:'nav-link btn btn-link' %>
          </div>
        <% else %>
          <div class="navbar-nav d-flex justify-content-end">
            <%= link_to('Entrar', new_user_session_path, class:'nav-link') %>
          </div>
        <% end %>
      </nav>
    </header>
    <main>
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
